<h3 mat-dialog-title>
  {{ 'New update available!!' | translate }}
</h3>

<mat-dialog-content>
  <p>
    {{ 'The update procedure require to reload the page; it means you will lost all the temporal information' | translate }}
  </p>
  <h5 class="my-3">
    {{ 'Would you like to install it now?' | translate }}
  </h5>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row"
                    fxLayoutAlign="end center">
  <button mat-raised-button
          (click)="close(false)">
    {{ 'No, postpone for later' | translate }}
  </button>
  <button mat-raised-button
          color="accent"
          (click)="close(true)">
    {{ 'Yes, install the update' | translate }}
  </button>
</mat-dialog-actions>
