$ts-primary: (
  50: #e2f0f8,
  100: #b6d9ee,
  200: #a6dfff,
  300: #56a7d6,
  400: #3194ce,
  500: #0d81c5,
  600: #0b79bf,
  700: #096eb8,
  800: #0764b0,
  900: #0351a3,
  A100: #cee3ff,
  A200: #9bc6ff,
  A400: #68a8ff,
  A700: #4e9aff,
  contrast: (
    50: #4f4f4f,
    100: #4f4f4f,
    200: #4f4f4f,
    300: #4f4f4f,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #4f4f4f,
    A200: #4f4f4f,
    A400: #4f4f4f,
    A700: #4f4f4f
  )
);

$ts-accent: (
  50: #f2f8e4,
  100: #dfecbb,
  200: #cae08e,
  300: #b4d460,
  400: #a4ca3e,
  500: #94c11c,
  600: #8cbb19,
  700: #81b314,
  800: #77ab11,
  900: #659e09,
  A100: #e9ffcb,
  A200: #d3ff98,
  A400: #bdff65,
  A700: #b2ff4c,
  contrast: (
    50: #4f4f4f,
    100: #4f4f4f,
    200: #4f4f4f,
    300: #4f4f4f,
    400: #4f4f4f,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #4f4f4f,
    A200: #4f4f4f,
    A400: #4f4f4f,
    A700: #4f4f4f
  )
);

$ts-warn: (
  50: #f6e4e4,
  100: #e9bcbc,
  200: #db9090,
  300: #cc6464,
  400: #c14242,
  500: #b62121,
  600: #af1d1d,
  700: #a61818,
  800: #9e1414,
  900: #8e0b0b,
  A100: #ffbebe,
  A200: #ff8b8b,
  A400: #ff5858,
  A700: #ff3e3e,
  contrast: (
    50: #4f4f4f,
    100: #4f4f4f,
    200: #4f4f4f,
    300: #4f4f4f,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #4f4f4f,
    A200: #4f4f4f,
    A400: #4f4f4f,
    A700: #ffffff
  )
);

$ts-greyscale: (
  50: #ffffff,
  100: #dbdbdb,
  200: #c1c1c1,
  300: #a8a8a8,
  400: #959595,
  500: #828282,
  600: #7a7a7a,
  700: #6f6f6f,
  800: #4f4f4f,
  900: #444444,
  A100: #dbdbdb,
  A200: #828282,
  A400: #4f4f4f,
  A700: #444444,
  contrast: (
    50: #4f4f4f,
    100: #4f4f4f,
    200: #4f4f4f,
    300: #4f4f4f,
    400: #4f4f4f,
    500: #4f4f4f,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #4f4f4f,
    A200: #4f4f4f,
    A400: #ffffff,
    A700: #ffffff
  )
);

$ts-alpha: rgba(255, 255, 255, 0.2);
