@import '_variables';
@import '_mixins';
@import '_functions';
@import '_colors';
@import '_texts';
@import '_spacings';
@import '_scroll-bar';

*,
*:after,
*:before,
*:hover,
*:active,
*:focus {
  outline: none !important;
  box-sizing: border-box !important;
}

html {
  font-size: $baseFontSize + px;
}

body {
  margin: 0;
  background: white;

  &.page-loading {
    overflow: hidden;
  }
}

.fill-remaining-space {
  display: flex;
  flex-grow: 1000;
}

.animated-transition-2 {
  @include transition(ease-in-out all, 200ms);
}

.animated-transition-3 {
  @include transition(ease-in-out all, 300ms);
}

.no-border-radius {
  @include border-radius(0, true);
}

.hidden {
  display: none !important;
}

.snack-bar-warn {
  background-color: map_get($ts-warn, 500);

  span {
    color: map_get($ts-greyscale, 50);
  }
}
