@import '~@angular/material/_theming';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import '_colors';

@include mat-core();
$primary: mat-palette($ts-primary);
$accent: mat-palette($ts-accent);
$warn: mat-palette($ts-warn);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
