@import '_colors';
@import '_mixins';

::ng-deep {
  .mat-menu-panel {
    max-width: 100% !important;
    @include border-radius(to-rem(10), true);

    .mat-menu-content {
      padding: 0 !important;
    }

    button {
      display: flex;
      text-transform: capitalize;

      &.active {
        background: map_get($ts-accent, 500) !important;
      }

      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: map_get($ts-greyscale, 800);
        }
      }
    }
  }
}
