@import '_variables';
@import '_functions';

@mixin md-icon-size($icon-size: to-rem(24), $size: null) {
  $size: if($size != null, $size, $icon-size);
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size !important;
}

@mixin border-radius($amount: 0, $important: null) {
  -webkit-border-radius: if($important == null, $amount, $amount !important);
  -moz-border-radius: if($important == null, $amount, $amount !important);
  border-radius: if($important == null, $amount, $amount !important);
}

@mixin transition($data, $time: 200ms) {
  -webkit-transition: $data $time;
  -moz-transition: $data $time;
  -ms-transition: $data $time;
  -o-transition: $data $time;
  transition: $data $time;
}
