@import '_colors';
@import '_functions';
@import '_mixins';

perfect-scrollbar,
.ps-content {
  position: relative;
  display: block;
  height: 100%;
}

perfect-scrollbar .ps {
  max-height: 100% !important;
}

$ps-rail-size: to-rem(8);
$ps-rail-hover-size: to-rem(10);
$ps-thumb-size: to-rem(4);
$ps-thumb-hover-size: to-rem(6);
$ps-thumb-position: to-rem(2);

.ps__rail-x,
.ps__rail-y {
  @include border-radius($ps-rail-size, true);

  &:hover,
  &:focus,
  &.ps--clicking {
    @include border-radius($ps-rail-hover-size, true);
  }
}

.ps__rail-x {
  height: $ps-rail-size !important;

  &:hover,
  &:focus,
  &.ps--clicking {
    height: $ps-rail-hover-size !important;

    & > .ps__thumb-x {
      height: $ps-thumb-hover-size !important;
    }
  }
}

.ps__rail-y {
  width: $ps-rail-size !important;

  &:hover,
  &:focus,
  &.ps--clicking {
    width: $ps-rail-hover-size !important;

    & > .ps__thumb-y {
      width: $ps-thumb-hover-size !important;
    }
  }
}

.ps__thumb-x,
.ps__thumb-y {
  background-color: map_get($ts-greyscale, 200) !important;
  @include border-radius($ps-thumb-size, true);
}

.ps__thumb-x {
  height: $ps-thumb-size !important;
  bottom: $ps-thumb-position !important;
}

.ps__thumb-y {
  width: $ps-thumb-size !important;
  right: $ps-thumb-position !important;
}

.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  background-color: transparent !important;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: $ts-alpha !important;

  & > .ps__thumb-x,
  & > .ps__thumb-y {
    background-color: map_get($ts-greyscale, 100) !important;
  }
}
