@import '_functions';

$spacings: (
  0: 0,
  1: to-rem(6),
  2: to-rem(12),
  3: to-rem(24),
  4: to-rem(48)
);

@each $i, $space in $spacings {
  .m-#{$i} {
    margin: $space !important;
  }

  .mt-#{$i} {
    margin-top: $space !important;
  }

  .mb-#{$i} {
    margin-bottom: $space !important;
  }

  .ml-#{$i} {
    margin-left: $space !important;
  }

  .mr-#{$i} {
    margin-right: $space !important;
  }

  .mx-#{$i} {
    margin-left: $space !important;
    margin-right: $space !important;
  }

  .my-#{$i} {
    margin-top: $space !important;
    margin-bottom: $space !important;
  }

  .p-#{$i} {
    padding: $space !important;
  }

  .pt-#{$i} {
    padding-top: $space !important;
  }

  .pb-#{$i} {
    padding-bottom: $space !important;
  }

  .pl-#{$i} {
    padding-left: $space !important;
  }

  .pr-#{$i} {
    padding-right: $space !important;
  }

  .px-#{$i} {
    padding-left: $space !important;
    padding-right: $space !important;
  }

  .py-#{$i} {
    padding-top: $space !important;
    padding-bottom: $space !important;
  }
}
