@import '_colors';
@import '_functions';

$font-default: (
  size: to-rem(14),
  line-height: to-rem(18)
);

$font-headings: (
  h1: (
    size: to-rem(36),
    line-height: to-rem(56)
  ),
  h2: (
    size: to-rem(28),
    line-height: to-rem(44)
  ),
  h3: (
    size: to-rem(24),
    line-height: to-rem(38)
  ),
  h4: (
    size: to-rem(18),
    line-height: to-rem(28)
  ),
  h5: (
    size: to-rem(15),
    line-height: to-rem(24)
  ),
  h6: (
    size: to-rem(14),
    line-height: to-rem(18)
  )
);

* {
  font-family: 'Fira Sans', sans-serif;
}

*:not(html),
*:not(html):after,
*:not(html):before {
  font-size: map_get($font-default, size);
  line-height: map_get($font-default, line-height);
  font-weight: normal;
  color: map_get($ts-greyscale, 800);
}

@each $heading, $font-config in $font-headings {
  #{$heading},
  .#{$heading} {
    font-size: map_get($font-config, size);
    line-height: map_get($font-config, line-height);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.lower-case,
.lower-case * {
  text-transform: lowercase;
}

.upper-case,
.upper-case * {
  text-transform: uppercase;
}

.italic-text {
  font-style: italic;
}

.small-text {
  font-size: to-rem(12);
  line-height: to-rem(15);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.ellipsis-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}


a,
.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}
