<button mat-fab
        matTooltip="{{'Load transactions from file' | translate}}"
        (click)="uploadGraph()">
  <mat-icon svgIcon="root"></mat-icon>
</button>

<input #fileInput
       [accept]="allowedFileTypes"
       type="file"
       name="uploader"
       id="uploader"
       (change)="fileChangeListener($event)"/>
