@import "_functions";

:host {
  position: absolute;
  right: to-rem(-40);
  top: to-rem(-40);

  mat-icon::ng-deep {
    svg {
      fill: white;
    }
  }

  input#uploader {
    display: none;
  }
}
