@import "_functions";

:host::ng-deep {
  display: block;
  position: relative;
  height: 100%;

  ag-grid-angular {
    width: 100%;
    height: 100%;

    .ag-header-cell-label {
      justify-content: center;
      display: flex;

      .ag-header-cell-text,
      .ag-header-icon {
        align-items: center;
        display: flex;
      }
    }
  }
}
