<div fxLayout="row"
     fxLayoutAlign="center center">

  <div class="error-info ml-3">
    <h2 class="upper-case">
      {{errorNumber}}
    </h2>
    <p class="italic-text mb-3">
      {{errorName}}
    </p>
    <p class="error-description">
      {{errorDescription}}
    </p>

    <button mat-stroked-button
            *ngIf="hasReload"
            (click)="reload()"
            class="mt-4">
      {{ 'Refresh' | translate }}
    </button>

    <button mat-stroked-button
            *ngIf="!hasReload"
            (click)="goBack()"
            class="mt-4">
      {{ 'Go back' | translate }}
    </button>
  </div>
</div>
