<mat-toolbar color="primary">
  <img src="assets/images/logo.svg"
       class="mr-2"
       alt="{{ 'Logo' | translate }}">
  Transactions Seeker

  <span class="fill-remaining-space"></span>

  <button mat-icon-button
          [matMenuTriggerFor]="langDropdown">
    <mat-icon svgIcon="i18n"></mat-icon>
  </button>

  <mat-menu #langDropdown
            overlapTrigger=false
            xPosition="before"
            yPosition="below">
    <button mat-menu-item
            class="mat-raised-button mat-flat-button no-border-radius lang-option"
            *ngFor="let lang of langs"
            (click)="setLang(lang.code)"
            [ngClass]="{active: lang.code === currentLang}">
      {{ lang.name }}
    </button>
  </mat-menu>
</mat-toolbar>
