@import "_colors";
@import "_menu";

:host {
  position: sticky;
  display: block;
  top: 0;
  z-index: 1;

  img {
    width: auto;
    height: 60%;
  }

  button {
    mat-icon {
      fill: white;
    }
  }

}
