@import '_functions';

:host::ng-deep {
  position: relative;
  display: block;
  height: 100vh;

  & > *:not(router-outlet) {
    position: relative;
    display: block;
    height: 100%;
  }
}

.loading-overlay {
  height: 100%;
  z-index: 1050;

  &,
  & .loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .loading-bar {
    height: to-rem(4);
  }
}
