<div *ngIf="showLoadingBar"
     class="loading-overlay">
  <mat-progress-bar class="loading-bar"
                    color="accent"
                    mode="indeterminate"></mat-progress-bar>
</div>

<router-outlet></router-outlet>
