<form [formGroup]="filtersForm"
      (ngSubmit)="applyFilters()"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      fxLayout.lt-md="column"
      novalidate>

  <mat-form-field class="mx-3">
    <label for="transactionId">
      {{ 'Transaction ID' | translate }}
    </label>
    <input matInput
           autofocus
           id="transactionId"
           (keyup)="keyUpSubject.next($event)"
           formControlName="transactionId">
    <mat-error *ngIf="filtersForm.controls['transactionId'].invalid">
      <div *ngIf="filtersForm.controls['transactionId'].errors['required']">
        {{ 'This field is required' | translate }}
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="mx-3">
    <label for="confidenceLevel">
      {{ 'Confidence Level' | translate }}
    </label>
    <input matInput
           autofocus
           step="0.1"
           min="0"
           max="1"
           type="number"
           id="confidenceLevel"
           (keyup)="keyUpSubject.next($event)"
           (ngModelChange)="keyUpSubject.next($event)"
           formControlName="confidenceLevel">
    <mat-error *ngIf="filtersForm.controls['confidenceLevel'].invalid">
      <div *ngIf="filtersForm.controls['confidenceLevel'].errors['min'] || filtersForm.controls['confidenceLevel'].errors['max']">
        {{ 'Enter a number between 0-1' | translate }}
      </div>
    </mat-error>
  </mat-form-field>
</form>
