@import "_functions";
@import "_variables";

:host {
  position: relative;
  display: block;

  mat-form-field {
    min-width: to-rem(300);

    @media screen and (max-width: map_get($medias, mobile)) {
      min-width: to-rem(200);
    }
  }
}
