@import "_spacings";

$header-height: to-rem(64);

:host::ng-deep {
  position: relative;
  display: block;
  height: 100%;

  .app-content {
    position: absolute;
    top: $header-height;

    &,
    & > .ps,
    & > .ps > .ps-content {
      height: calc(100vh - #{$header-height}) !important;
      max-height: calc(100vh - #{$header-height}) !important;
    }

    & > .ps > .ps-content {
      padding: map_get($spacings, 4);
    }

    & > .ps > .ps-content > *:not(router-outlet) {
      height: 100%;
      max-height: 100%;
    }

    & > .ps {
      .ps__rail-y {
        z-index: 5;
      }
    }

    .ps-content > *:not(router-outlet) {
      position: relative;
      display: block;
    }
  }
}
