<ts-add-transactions></ts-add-transactions>

<div fxLayout="column"
     fxFlex="100">
  <ts-filters class="mb-2"></ts-filters>

  <ts-grid fxLayout="row"
           class="grid-container"></ts-grid>
</div>
