<mat-icon *ngIf="values"
          class="mx-2"
          svgIcon="child"></mat-icon>

<mat-icon *ngFor="let value of values"
          class="mr-2"
          [matTooltip]="value"
          [svgIcon]="value">
</mat-icon>

<mat-icon *ngIf="!values"
          matTooltip="Root Transaction"
          svgIcon="root"></mat-icon>
